<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>My Website</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <!-- {{template "content" .}} -->
        {{ block "content" . }}{{ end }}
    </main>
    <footer>
        &copy; 2023 idealmedia 
    </footer>
</body>
</html>